footer {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    padding: 22px 35px;
    background-color: $color_background;
    img {
        width: 137px;
        height: 27px;
        filter: invert(100%);
        margin-bottom: 16px;
    }
}

.footer-content {
    display: flex;
    flex-direction: column;
    gap: 7px;
    a {
        color: $color_fifth;
        display: flex;
        i {
            width: 28px;
            font-size: 16px;
            text-align: left;
        }
    }
}


    /** ------ Tablet ------**/
@media screen and (min-width: 768px) and (max-width: 1024px) {

.footer-content {
    display: flex;
    justify-content: space-around;
}

}


    /** ------ Desktop ------**/
@media screen and (min-width: 1024px) and (max-width: 1440px) {

}