header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    .header-logo {
        position: relative;
        z-index: 2;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 63px;
        background-color: white;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
        img {
            width: 162px;
        }
    }
    div {
        z-index: 1;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 50px;
        gap: 17px;
        background-color: #eaeaea;
        box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
        .header-location {
            width: 12px;
            height: 16px;
        }
        p {
            width: 109px;
            height: 19px;
            background-color: #eaeaea;
            font-size: 16px;
            color: black;
            font-family: $font_primary;
            border: none;
        }
    }
    .fa-arrow-left {
        position: absolute;
        z-index: 2;
        left: 17px;
        top: 19px;
        font-size: 24px;
    }
}
