@charset "UTF-8";
body {
  margin: 0;
  padding: 0;
}

h1, h2, h3, p {
  margin: 0;
}

a {
  text-decoration: none;
  color: black;
}

.presentation {
  font-family: "Roboto";
}
.presentation h1 {
  font-size: 24px;
}
.presentation p {
  font-size: 18px;
  font-weight: 300;
}

.fonction {
  font-family: "Roboto";
}
.fonction h2 {
  font-weight: 700;
}

#restaurants {
  font-family: "Roboto";
}

footer {
  font-family: "Roboto";
  font-size: 16px;
  font-weight: 500;
}

.btn {
  display: block;
  width: 218px;
  height: 50px;
  margin: 40px 0;
  border: none;
  border-radius: 25px;
  background: linear-gradient(355deg, #9356DC 0%, #FF79DA 100%);
  font-size: 16px;
  color: white;
  text-align: center;
  line-height: 50px;
  font-weight: 500;
  font-family: "Roboto", sans-serif;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
}
.btn:hover {
  box-shadow: 0 0 14px rgba(0, 0, 0, 0.25);
  filter: brightness(105%);
}

.box {
  display: flex;
  flex-direction: row;
}

/*@import "layout/_navigation";*/
header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}
header .header-logo {
  position: relative;
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 63px;
  background-color: white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
}
header .header-logo img {
  width: 162px;
}
header div {
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 50px;
  gap: 17px;
  background-color: #eaeaea;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}
header div .header-location {
  width: 12px;
  height: 16px;
}
header div p {
  width: 109px;
  height: 19px;
  background-color: #eaeaea;
  font-size: 16px;
  color: black;
  font-family: "Roboto";
  border: none;
}
header .fa-arrow-left {
  position: absolute;
  z-index: 2;
  left: 17px;
  top: 19px;
  font-size: 24px;
}

/** ------ Tablet ------**/
/** ------ Desktop ------**/
footer {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  padding: 22px 35px;
  background-color: #353535;
}
footer img {
  width: 137px;
  height: 27px;
  filter: invert(100%);
  margin-bottom: 16px;
}

.footer-content {
  display: flex;
  flex-direction: column;
  gap: 7px;
}
.footer-content a {
  color: white;
  display: flex;
}
.footer-content a i {
  width: 28px;
  font-size: 16px;
  text-align: left;
}

.footer-link {
  width: 130px;
  font-weight: 300;
}

/** ------ Tablet ------**/
@media screen and (min-width: 768px) and (max-width: 1024px) {
  footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: auto;
    height: 80px;
    padding: 0 20px 10px;
  }
  footer .footer-logo {
    margin: 0;
    padding-top: 16px;
  }
  .footer-content {
    display: flex;
    flex-direction: row;
    gap: 40px;
  }
  .footer-link-icon {
    width: 186px;
    white-space: nowrap;
  }
}
/** ------ Desktop ------**/
@media screen and (min-width: 1024px) {
  footer {
    display: flex;
    flex-direction: row-reverse;
    align-items: flex-end;
    width: auto;
    height: 54px;
    padding: 30px 60px;
  }
  footer .footer-logo {
    margin: 0;
  }
  .footer-content {
    display: flex;
    flex-direction: row;
    gap: 20px;
  }
  .footer-link-icon {
    width: 186px;
    white-space: nowrap;
  }
}
@media screen and (min-width: 320px) {
  /** Présentation **/
  .presentation {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #fafafa;
  }
  .presentation h1 {
    padding: 35px 50px 20px 50px;
    text-align: center;
  }
  .presentation p {
    text-align: center;
  }
  /** Fonctionnement **/
  .fonction {
    display: flex;
    flex-direction: column;
    padding: 0 20px 68px 20px;
  }
  .fonction h2 {
    margin: 30px 0 25px;
  }
  .fonction-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 24px;
  }
  .fonction-box-ticket {
    width: 330px;
  }
  .fonction-box-content {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: auto;
    height: 72px;
    gap: 30px;
    padding: 0 40px;
    background-color: #fafafa;
    border-radius: 20px;
    box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
  }
  .fonction-box-content i {
    color: #7E7E7E;
    text-align: center;
    font-size: 20px;
  }
  .fonction-box-content:hover i {
    color: #9356DC;
  }
  .fonction-box-content p {
    white-space: nowrap;
  }
  .fonction-box-order {
    position: absolute;
    z-index: 2;
    left: -12px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 24px;
    height: 24px;
    background-color: #9356DC;
    border-radius: 100%;
  }
  .fonction-box-order p {
    color: white;
    text-align: center;
    font-weight: 500;
  }
  /** Restaurants **/
  #restaurants {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-bottom: 64px;
    background-color: #fafafa;
  }
  #restaurants h2 {
    margin: 40px 20px 20px 20px;
  }
  .container-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;
    margin: 0 20px;
    gap: 18px;
  }
  .restaurant-card {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 251px;
    background-color: white;
    border-radius: 15px;
    box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.1);
  }
  .restaurant-card .restaurant-new {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80px;
    height: 29px;
    margin: 0;
    right: 15px;
    top: 15px;
    background-color: #99E2D0;
    color: #008766;
    border-radius: 2px;
    font-size: 14px;
    font-weight: 500;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);
  }
  .restaurant-photo {
    object-fit: cover;
    width: 100%;
    height: 174px;
    border-radius: 15px 15px 0 0;
  }
  .text-card {
    width: 80%;
    margin: 12px 0 41px 13px;
  }
  .text-card h3 {
    font-size: 18px;
    font-weight: 700;
    line-height: 20px;
  }
  .text-card p {
    font-size: 17px;
    font-weight: 300;
    line-height: 25px;
  }
  .heart-container {
    position: absolute;
    right: 24px;
    bottom: 26px;
    font-size: 28px;
  }
  .heart-container .fa-solid {
    display: none;
  }
}
/** ------ Tablet ------**/
/** ------ Desktop ------**/
@media screen and (min-width: 1024px) {
  .fonction {
    display: flex;
    align-items: flex-start;
    padding: 50px 180px;
    margin: 0;
    width: auto;
  }
  .fonction-box {
    display: flex;
    flex-direction: row;
    width: 100%;
  }
  .fonction-box .fonction-box-ticket {
    width: 40%;
  }
  .fonction-box-content {
    padding: 0 10px 0 0;
    gap: 16px;
  }
  .fonction-box-content .fa-fonction {
    display: flex;
    justify-content: flex-start;
    padding-left: 24px;
  }
  #restaurants {
    display: flex;
    justify-content: center;
    width: auto;
    padding: 0 180px;
    padding-bottom: 30px;
  }
  #restaurants h2 {
    margin: 40px 20px 20px 0;
  }
  .container-card {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    margin: 0;
  }
}
.menu-photo {
  object-fit: cover;
  width: 100%;
  height: 275px;
}

.menus {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  gap: 12px;
  margin-top: -40px;
  padding-top: 32px;
  font-family: "Roboto";
  background-color: #fafafa;
  border-radius: 30px 30px 0 0;
}

.menu-section {
  display: flex;
  flex-direction: column;
  margin: 12px 12px 0 12px;
  gap: 40px;
}

.restaurant-title {
  display: flex;
  align-items: center;
  width: 100%;
  font-family: "Shrikhand";
  font-size: 16px;
  font-weight: 300;
}
.restaurant-title h1 {
  position: relative;
  padding-left: 12px;
}
.restaurant-title .heart-container-title {
  position: absolute;
  right: 36px;
  font-size: 28px;
}
.restaurant-title .heart-container-title .fa-solid {
  display: none;
}

.menu {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.menu h2 {
  width: 40px;
  padding-bottom: 4px;
  margin-bottom: 12px;
  font-family: "Roboto";
  font-weight: 300;
  font-size: 16px;
  border-bottom: solid 3px #99E2D0;
}

.menu-card {
  display: flex;
  width: 100%;
  background-color: white;
  border-radius: 15px;
  box-shadow: 0px 4.011px 15.043px 0px rgba(0, 0, 0, 0.1);
}
.menu-card .plate {
  width: 90%;
  height: 40px;
  padding: 15px 0 15px 15px;
}
.menu-card .plate h3 {
  font-size: 18px;
  font-weight: 500;
}
.menu-card .plate p {
  font-size: 15px;
  font-weight: 300;
}

.price {
  width: 10%;
  padding: 36px 10px 0 10px;
  text-align: right;
}
.price span {
  font-size: 16px;
  font-weight: 500;
}

.command-btn {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/** ------ Tablet ------**/
@media screen and (min-width: 768px) and (max-width: 1024px) {
  #page {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .menus {
    width: 70%;
    display: flex;
    justify-content: center;
  }
  .restaurant-title {
    justify-content: center;
    width: 100%;
  }
  .restaurant-title .heart-container-title {
    position: inherit;
    padding-left: 32px;
  }
  .menu-section {
    padding: 0 60px;
  }
}
/** ------ Desktop ------**/
@media screen and (min-width: 1024px) {
  #page {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .menus {
    width: 60%;
    display: flex;
    justify-content: center;
  }
  .restaurant-title {
    justify-content: center;
    width: 100%;
  }
  .restaurant-title .heart-container-title {
    position: inherit;
    padding-left: 32px;
  }
  .menu-section {
    padding: 0 140px;
  }
}
/*@import "pages/_contact"; 
@import "utils/functions";
@import "utils/mixins";*/

/*# sourceMappingURL=style.css.map */
