body {
  min-width: 375px;
  margin: 0;
  padding: 0;
}

h1, h2, h3, p {
  margin: 0;
}

a {
  text-decoration: none;
  color: black;
}

.presentation {
  font-family: "Roboto";
}
.presentation h1 {
  font-size: 24px;
}
.presentation p {
  font-size: 18px;
  font-weight: 300;
}

.fonction {
  font-family: "Roboto";
}
.fonction h2 {
  font-weight: 700;
}

#restaurants {
  font-family: "Roboto";
}

footer {
  font-family: "Roboto";
  font-size: 16px;
  font-weight: 500;
}

.btn {
  display: block;
  height: 50px;
  width: 218px;
  border: none;
  border-radius: 25px;
  background: linear-gradient(355deg, #9356DC 0%, #FF79DA 100%);
  font-size: 16px;
  color: white;
  text-align: center;
  line-height: 50px;
  font-weight: 500;
  font-family: "Roboto", sans-serif;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
  margin: 40px 0;
}
.btn:hover {
  box-shadow: 0 0 14px rgba(0, 0, 0, 0.25);
  filter: brightness(105%);
}

.box {
  display: flex;
  flex-direction: row;
}

/*@import "layout/_navigation";*/
header {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
header .header-logo {
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 63px;
  background-color: white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
}
header .header-logo img {
  width: 197px;
}
header div {
  z-index: 1;
  background-color: #eaeaea;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  gap: 17px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}
header div .header-location {
  width: 12px;
  height: 16px;
}
header div input {
  width: 109px;
  height: 19px;
  border: none;
  background-color: #eaeaea;
  font-size: 16px;
  color: black;
}
header div input::placeholder {
  color: black;
}

.header-restaurants {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: 63px;
  gap: 42px;
  padding: 10px 0 13px 17px;
}
.header-restaurants .fa-arrow-left {
  font-size: 24px;
  display: flex;
}
.header-restaurants img {
  display: flex;
  width: 162px;
  height: 34px;
  padding: 0 19px 0 16px;
}

footer {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  padding: 22px 35px;
  background-color: #353535;
}
footer img {
  width: 137px;
  height: 27px;
  filter: invert(100%);
  margin-bottom: 16px;
}
footer .footer-content {
  display: flex;
  flex-direction: column;
  gap: 7px;
}
footer .footer-content a {
  color: white;
  display: flex;
}
footer .footer-content a i {
  font-size: 16px;
  width: 28px;
  text-align: left;
}

.presentation {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #F6F6F6;
}
.presentation h1 {
  padding: 35px 50px 20px 50px;
  text-align: center;
}
.presentation p {
  text-align: center;
}

.fonction {
  margin: 0 20px;
  margin-bottom: 68px;
  display: flex;
  flex-direction: column;
}
.fonction h2 {
  margin: 30px 0 25px;
}
.fonction .fonction-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 24px;
}
.fonction .fonction-box .fonction-box-content {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 322px;
  height: 72px;
  border-radius: 20px;
  background-color: #F6F6F6;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
}
.fonction .fonction-box .fonction-box-content:hover i {
  color: #9356DC;
}
.fonction .fonction-box .fonction-box-content i {
  position: absolute;
  right: 272px;
  text-align: center;
  color: #7E7E7E;
  font-size: 20px;
}
.fonction .fonction-box-order {
  z-index: 2;
  position: absolute;
  left: -12px;
  display: flex;
  width: 24px;
  height: 24px;
  border-radius: 100%;
  background-color: #9356DC;
  align-items: center;
  justify-content: center;
}
.fonction .fonction-box-order p {
  color: white;
  text-align: center;
  font-weight: 500;
}

#restaurants {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-bottom: 64px;
  background-color: #F6F6F6;
}
#restaurants h2 {
  margin: 40px 20px 20px 20px;
}
#restaurants .container-card {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  align-items: center;
  gap: 18px;
}
#restaurants .container-card .restaurant-card {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 90%;
  height: 251px;
  border-radius: 15px;
  background-color: white;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.1);
}
#restaurants .container-card .restaurant-card img {
  width: 100%;
  height: 174px;
  object-fit: cover;
  border-radius: 15px 15px 0 0;
}
#restaurants .container-card .restaurant-card .text-card {
  width: 80%;
  margin: 12px 0 41px 13px;
}
#restaurants .container-card .restaurant-card .text-card h3 {
  font-size: 18px;
  font-weight: 700;
  line-height: 20px;
}
#restaurants .container-card .restaurant-card .text-card p {
  font-size: 17px;
  font-weight: 300;
  line-height: 25px;
}
#restaurants .container-card .restaurant-card .heart-container {
  position: absolute;
  right: 24px;
  bottom: 26px;
  font-size: 28px;
}
#restaurants .container-card .restaurant-card .heart-container .fa-solid {
  display: none;
}

.menu-photo img {
  width: 100%;
  height: 275px;
}

.menu {
  width: 100%;
  height: auto;
  font-family: "Roboto";
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.menu .restaurant-title {
  font-family: "Shrikhand";
  font-size: 16px;
  font-weight: 300;
  display: flex;
  flex-direction: row;
}
.menu .menu-section {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.menu .menu-section .plate-title {
  font-weight: 300;
  font-size: 16px;
  display: flex;
  align-items: flex-start;
}

/*@import "pages/_contact"; 
@import "utils/functions";
@import "utils/mixins";*/

/*# sourceMappingURL=style.css.map */
