@charset "UTF-8";
@keyframes loader {
  0% {
    width: 10%;
    transform: rotate(0deg);
  }
  10% {
    left: 0%;
    transform: rotate(0deg);
  }
  20% {
    width: 0%;
    left: 20%;
  }
  30% {
    width: 25%;
  }
  50% {
    left: 15%;
    width: 35%;
  }
  70% {
    width: 30%;
    left: 18%;
    transform: rotate(240deg);
  }
  90% {
    width: 30%;
    left: 10%;
  }
  100% {
    width: 2%;
    left: 25%;
    transform: rotate(360deg);
  }
}
@keyframes pan {
  0% {
    transform: rotate(0deg);
    transform-origin: top right;
  }
  10% {
    transform: rotate(-2deg);
    transform-origin: top right;
  }
  50% {
    transform: rotate(15deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
@keyframes shadow {
  0% {
    width: 30%;
  }
  50% {
    width: 40%;
    left: 20px;
  }
  100% {
    width: 30%;
  }
}
@keyframes fade-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    z-index: -3;
  }
}
.animation-loader {
  z-index: 4;
  position: fixed;
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  animation: fade-out 0.5s ease-in-out 2.8s both;
}
.animation-loader img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.pan-loader {
  z-index: 3;
  flex-direction: column;
  width: 180px;
  height: 180px;
  margin: 0;
  background-color: transparent;
  box-shadow: none;
}
.pan-loader .loader {
  justify-content: flex-start;
  width: 80px;
  height: 64px;
  margin-bottom: -29px;
  margin-right: 90px;
  border: 10px solid transparent;
  border-bottom: 10px solid #FF79DA;
  border-radius: 50%;
  background-color: transparent;
  box-shadow: none;
  animation: loader 2s;
  animation-timing-function: linear;
  animation-iteration-count: 2;
}
.pan-loader .pan-container {
  display: flex;
  width: 220px;
  height: auto;
  background-color: transparent;
  box-shadow: none;
  gap: 0;
  animation: pan 2s;
  animation-iteration-count: 2;
}
.pan-loader .pan {
  width: 180px;
  height: 26px;
  background-color: transparent;
  background: linear-gradient(#643b96, #9356DC);
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
  box-shadow: none;
}
.pan-loader .handle {
  width: 180px;
  height: 12px;
  background: linear-gradient(#643b96, #9356DC);
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  box-shadow: none;
}
.pan-loader .shadow {
  align-items: flex-start;
  width: 58px;
  height: 8px;
  margin-right: 120px;
  background: lightgray;
  border-radius: 20px;
  box-shadow: none;
  animation: shadow 2s;
  animation-iteration-count: 2;
}

body {
  margin: 0;
  padding: 0;
}

h1, h2, h3, p {
  margin: 0;
}

a {
  text-decoration: none;
  color: black;
}

html {
  font-size: 16px;
}

/* HEADER */
header div p {
  font-size: 1rem;
  color: black;
  font-family: "Roboto";
}
header .fa-arrow-left {
  font-size: 1.5rem;
}

/* HOME */
.presentation {
  font-family: "Roboto";
}
.presentation h1 {
  font-size: 1.5rem;
}
.presentation p {
  font-size: 1.125rem;
  font-weight: 300;
}

.fonction {
  font-family: "Roboto";
}
.fonction h2 {
  font-weight: 700;
}

.fonction-box-content i {
  font-size: 1.25rem;
}

#restaurants {
  font-family: "Roboto";
}

.restaurant-new {
  font-size: 0.875rem;
  font-weight: 500;
}

.text-card h3 {
  font-size: 1.125rem;
  font-weight: 700;
  line-height: 1.25rem;
}
.text-card p {
  font-size: 1rem;
  font-weight: 300;
  line-height: 1.6rem;
}

/* PAGES RESTAURANTS */
.restaurant-title {
  font-family: "Shrikhand";
  font-size: 1rem;
  font-weight: 300;
}

.menu h2 {
  font-family: "Roboto";
  font-weight: 300;
  font-size: 1rem;
}
.menu p {
  font-size: 0.9rem;
  font-weight: 300;
}

.menu-card h3 {
  font-size: 1.1rem;
  font-weight: 500;
}

.price span {
  font-size: 1rem;
  font-weight: 500;
}

.checked i {
  font-size: 1.25rem;
}

/* FOOTER */
footer {
  font-family: "Roboto";
  font-size: 1rem;
  font-weight: 500;
}

.footer-content a i {
  font-size: 1rem;
}

/** ------ Desktop ------**/
@media (min-width: 1024px) {
  .presentation h1 {
    font-size: 2rem;
  }
}
@media (min-width: 320px) {
  .btn {
    display: block;
    width: 218px;
    height: 50px;
    margin: 40px 0;
    border: none;
    border-radius: 25px;
    background: linear-gradient(355deg, #9356DC 0%, #FF79DA 100%);
    font-size: 16px;
    color: white;
    text-align: center;
    line-height: 50px;
    font-weight: 500;
    font-family: "Roboto", sans-serif;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
  }
  .btn:hover {
    box-shadow: 0 0 14px rgba(0, 0, 0, 0.25);
    filter: brightness(105%);
  }
  .box {
    display: flex;
    flex-direction: row;
  }
  /** COEUR **/
  .heart-container i {
    position: absolute;
    transition: all 400ms ease-in-out;
  }
  .heart-container .heart-liked {
    background-image: linear-gradient(355deg, #9356DC 0%, #FF79DA 100%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    opacity: 0;
  }
  .heart-container:hover .heart-liked {
    opacity: 1;
  }
  .heart-home i {
    right: 24px;
    bottom: 26px;
    font-size: 28px;
  }
  .heart-title i {
    top: 36px;
    font-size: 28px;
  }
}
/** ------ Desktop ------**/
@media (min-width: 1024px) {
  .restaurant-title {
    width: 100%;
  }
  .restaurant-title h1 {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .heart-title {
    position: absolute;
    width: 0;
  }
  .fa-heart {
    right: 170px;
  }
}
@media (min-width: 320px) {
  header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
  }
  header div {
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 50px;
    gap: 17px;
    background-color: #eaeaea;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  }
  header div .header-location {
    width: 12px;
    height: 16px;
  }
  header div p {
    width: 109px;
    height: 19px;
    background-color: #eaeaea;
    border: none;
  }
  .header-logo {
    z-index: 2;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 63px;
    background-color: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
  }
  .header-logo img {
    width: 162px;
  }
  .fa-arrow-left {
    position: absolute;
    z-index: 2;
    left: 17px;
    top: 19px;
  }
}
@media (min-width: 320px) {
  footer {
    display: flex;
    flex-direction: column;
    height: auto;
    padding: 22px 35px;
    background-color: #353535;
  }
  footer img {
    width: 137px;
    height: 27px;
    filter: invert(100%);
    margin-bottom: 16px;
  }
  .footer-content {
    display: flex;
    flex-direction: column;
    gap: 7px;
  }
  .footer-content a {
    color: white;
    display: flex;
  }
  .footer-content a i {
    width: 28px;
    text-align: left;
  }
  .footer-link {
    width: 130px;
    font-weight: 300;
  }
}
/** ------ Tablet ------**/
@media (min-width: 768px) {
  footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: auto;
    height: 80px;
    padding: 0 20px 10px;
  }
  footer .footer-logo {
    margin: 0;
    padding-top: 16px;
  }
  .footer-content {
    display: flex;
    flex-direction: row;
    padding-left: 60px;
  }
  .footer-link-icon {
    width: 186px;
    white-space: nowrap;
  }
}
/** ------ Desktop ------**/
@media (min-width: 1024px) {
  footer {
    display: flex;
    flex-direction: row-reverse;
    align-items: flex-end;
    width: auto;
    height: 54px;
    padding: 30px 60px;
  }
  footer .footer-logo {
    margin: 0;
  }
  .footer-content {
    display: flex;
    flex-direction: row;
    gap: 20px;
  }
  .footer-link-icon {
    width: 186px;
    white-space: nowrap;
  }
}
@media (min-width: 320px) {
  /** PRÉSENTATION **/
  .presentation {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #fafafa;
  }
  .presentation h1 {
    padding: 35px 50px 20px 50px;
    text-align: center;
  }
  .presentation p {
    text-align: center;
  }
  /** FONCTIONNEMENT **/
  .fonction {
    display: flex;
    flex-direction: column;
    padding: 0 20px 68px 20px;
  }
  .fonction h2 {
    margin: 30px 0 25px;
  }
  .fonction-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 24px;
  }
  .fonction-box-ticket {
    width: 90%;
  }
  .fonction-box-content {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: auto;
    height: 72px;
    gap: 20px;
    padding: 0 30px;
    background-color: #fafafa;
    border-radius: 20px;
    box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
  }
  .fonction-box-content i {
    color: #7E7E7E;
    text-align: center;
  }
  .fonction-box-content:hover i {
    color: #9356DC;
  }
  .fonction-box-content p {
    white-space: nowrap;
  }
  .fonction-box-order {
    position: absolute;
    z-index: 2;
    left: -12px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 24px;
    height: 24px;
    background-color: #9356DC;
    border-radius: 100%;
  }
  .fonction-box-order p {
    color: white;
    text-align: center;
    font-weight: 500;
  }
  /** RESTAURANTS **/
  #restaurants {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-bottom: 64px;
    background-color: #fafafa;
  }
  #restaurants h2 {
    margin: 40px 20px 20px 20px;
  }
  .container-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;
    margin: 0 20px;
    gap: 18px;
  }
  .restaurant-card {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 251px;
    background-color: white;
    border-radius: 15px;
    box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.1);
  }
  .restaurant-card .restaurant-new {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80px;
    height: 29px;
    margin: 0;
    right: 15px;
    top: 15px;
    background-color: #99E2D0;
    color: #008766;
    border-radius: 2px;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);
  }
  .restaurant-photo {
    object-fit: cover;
    width: 100%;
    height: 174px;
    border-radius: 15px 15px 0 0;
  }
  .text-card {
    width: 80%;
    margin: 12px 0 41px 13px;
  }
}
/** ------ Tablet ------ **/
@media (min-width: 768px) {
  .fonction-box-ticket {
    width: 40%;
  }
}
/** ------ Desktop ------**/
@media (min-width: 1024px) {
  .fonction {
    display: flex;
    align-items: flex-start;
    padding: 50px 180px;
    margin: 0;
    width: auto;
  }
  .fonction-box {
    display: flex;
    flex-direction: row;
    width: 100%;
  }
  .fonction-box .fonction-box-ticket {
    width: 40%;
  }
  .fonction-box-content {
    padding: 0 10px 0 0;
    gap: 16px;
  }
  .fonction-box-content .fa-fonction {
    display: flex;
    justify-content: flex-start;
    padding-left: 24px;
  }
  #restaurants {
    display: flex;
    justify-content: center;
    width: auto;
    padding: 0 180px;
    padding-bottom: 30px;
  }
  #restaurants h2 {
    margin: 40px 20px 20px 0;
  }
  .container-card {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    margin: 0;
  }
}
@media (min-width: 320px) {
  .menu-photo {
    object-fit: cover;
    width: 100%;
    height: 275px;
  }
  .menus {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    gap: 12px;
    margin-top: -40px;
    padding-top: 32px;
    font-family: "Roboto";
    background-color: #fafafa;
    border-radius: 30px 30px 0 0;
  }
  .menu-section {
    display: flex;
    flex-direction: column;
    margin: 12px 12px 0 12px;
    gap: 40px;
  }
  .restaurant-title {
    display: flex;
    align-items: center;
    width: 100%;
  }
  .restaurant-title h1 {
    position: relative;
    padding-left: 12px;
    width: 80%;
  }
  .menu {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  .menu h2 {
    width: 40px;
    padding-bottom: 4px;
    margin-bottom: 12px;
    border-bottom: solid 3px #99E2D0;
  }
  .menu-card {
    display: flex;
    width: 100%;
    background-color: white;
    border-radius: 15px;
    box-shadow: 0px 4.011px 15.043px 0px rgba(0, 0, 0, 0.1);
  }
  .menu-card .plate {
    width: 92%;
    height: 40px;
    padding: 15px 0 15px 15px;
    overflow: hidden;
  }
  .menu-card .plate h3 {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  .menu-card .plate p {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  .menu-card:hover .checked {
    width: 59px;
    transform: scaleX(1);
  }
  .menu-card:hover .checked i {
    display: inline;
    animation: icocheck 400ms ease-in;
  }
  .price {
    width: 10%;
    padding: 36px 10px 0 10px;
    text-align: right;
  }
  .command-btn {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  /** ANIMATION MENU **/
  .entrees {
    animation: slide-menu 1s ease-in-out;
  }
  .plats {
    animation: slide-menu 1s ease-in-out;
    animation-delay: 0.4s;
  }
  .desserts {
    animation: slide-menu 1s ease-in-out;
    animation-delay: 0.8s;
  }
  .checked {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    background-color: #99E2D0;
    width: 0px;
    border-radius: 0 15px 15px 0;
    transform: scaleX(0);
    transform-origin: right;
    transition: width 450ms 150ms ease-in-out;
  }
  .checked i {
    display: none;
  }
  @keyframes icocheck {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  @keyframes slide-menu {
    0% {
      transform: translateX(300px);
      opacity: 0;
    }
    20% {
      opacity: 0;
    }
    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }
}
/** ------ Tablet ------**/
@media screen and (min-width: 768px) and (max-width: 1024px) {
  #page {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .menus {
    display: flex;
    justify-content: center;
    width: 70%;
  }
  .restaurant-title {
    justify-content: center;
    width: 100%;
  }
  .restaurant-title .heart-container-title {
    position: inherit;
    padding-left: 32px;
  }
  .menu-section {
    padding: 0 60px;
  }
}
/** ------ Desktop ------**/
@media screen and (min-width: 1024px) {
  #page {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .menus {
    display: flex;
    justify-content: center;
    width: 60%;
  }
  .restaurant-title {
    justify-content: center;
    width: 100%;
    gap: 24px;
  }
  .restaurant-title h1 {
    padding: 0;
  }
  .restaurant-title .heart-title {
    position: inherit;
    right: 186px;
  }
  .menu-section {
    padding: 0 120px;
  }
}
/*@import "utils/functions";*/

/*# sourceMappingURL=style.css.map */
