.presentation{
    font-family: $font_primary;
    h1 {
    font-size: 24px;
    }
    p {
    font-size: 18px;
    font-weight: 300;
    }
}
.fonction {
    font-family: $font_primary;
    h2 {
        font-weight: 700;
    }
}

footer {
    font-family: $font_primary;
    font-size: 16px;
    font-weight: 500;
}
