.presentation{
    font-family: $font_primary;
    h1 {
    font-size: 24px;
    }
    p {
    font-size: 18px;
    font-weight: 300;
    }
}
.fonction {
    font-family: $font_primary;
    h2 {
        font-weight: 700;
    }
}

#restaurants {
    font-family: $font_primary;
}

footer {
    font-family: $font_primary;
    font-size: 16px;
    font-weight: 500;
}


    /** Desktop **/

@media screen and (min-width: 1024px) {

.presentation {
    h1 {
        font-size: 32px;
    }
}
}