// - COULEUR - //
$color_primary: #9356DC;
$color_secondary: #FF79DA;
$color_tertiary: #99E2D0;
$color_fourth: #008766;
$color_fifth: white; 
$color_background: #353535;
$color_background_bis: #fafafa;
$color_background_third: white;
$gradient: linear-gradient(355deg, $color_primary 0%, $color_secondary 100%);

// - FONTS - //
$font_primary: "Roboto";
$font_secondary: "Shrikhand";